{% extends "frontEnd/frontend-layout.html.twig" %}
{% block main %}
    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="content">
                    <div class="mb80">

                        {#{ include('AppBundle:Partials:hero-slider.html.twig' ,{ sliders :sliders }) }#}

                    </div>
                    <div class="cards-wrapper">
                        <div class="row">
                           {% for provider in providers |slice(0, 4) %}
                                {% if  loop.index < 5%}
                                    {% if loop.first %}
                                        {% set cardtall= 0 %}
                                        <div class="col-sm-8">
                                        <div class="row"><!--row8 debut de index2-->
                                        {% set taille='12'%}
                                    {% endif %}
                                {%if loop.index==2%}
                                    {% set cardtall= 0 %}
                                    </div><!-- /.row -->
                                    <div class="row">
                                    {% set taille='6'%}
                                {% endif %}
                                    {% if loop.index==3%}
                                        {% set cardtall= 0 %}

                                        {% set taille='6'%}
                                    {% endif %}
                                    {% if loop.last%}

                                        </div><!-- /.row -->
                                        </div><!--/.col8-->
                                        {% set taille ='4'%}
                                        {% set cardtall= 4 %}
                                    {% endif %}

                                    <div class="col-sm-{{taille}}">

                                        {{ include('Partials/card.html.twig', { card :{ id:provider.id, nom:provider.username, description:provider.email, titre:provider.name,
                                            class:'loop.index', tall:cardtall, rout1:'provider_show', image:'img/logo.png',rout_serch:'provider_show',rout_detail:'provider_show',rout_bookmark:'provider_show',rout_favorit:'provider_show' } }) }}

                                    </div><!-- /.col-* -->
                                {% endif%}

                            {% endfor %}

                        </div><!-- /.row -->
                    </div><!-- /.cards-wrapper -->
                    <div class="block background-white fullwidth mt80">

                        <div class="row">
                            <div class="col-sm-4">
                                {% for course in courses |slice(0,5) %}

                                    <div class="events">
                                        {{ include('Partials/event.html.twig', { event :{id:course.id, nom:course.name, description:course.description, rout:'course_show',start:course.start} }) }}
                                    </div><!-- /.events -->


                                {% endfor %}
                            </div><!-- /.col-* -->
                            <div class="col-sm-4">
                                {% for category in service_categories |slice(0, 3)%}
                                    <div class="posts">
                                        {{ include('Partials/post.html.twig' ,{ post :{id:category.id,titre:category.name, nom:category.name, description:category.description, date:'2/15/2141',image:'img/logo.png',rout:'servicecategory_show'} }) }}
                                    </div><!-- /.posts -->
                                {% endfor %}
                            </div><!-- /.col-* -->

                            {#{ render(controller('AppBundle:FrontEnd/provider:recherche')) }#}

                        </div><!-- /.row -->
                    </div><!-- /.block -->
                    <div class="block background-black-light fullwidth">
                        <div class="row">
                            <div class="col-sm-4">

                                {{ include('Partials/box.html.twig' ,{ box :{titre:'publicite 1', description:'description de publicite1'} }) }}

                            </div><!-- /.col-sm-4 -->
                        </div><!-- /.row -->
                    </div><!-- /.block -->

                    <div class="block background-white background-transparent-image fullwidth">
                        <div class="page-header">
                            <h1>Les Promotions Plus Recents</h1>

                            <p>List des evement qui se passe dans notre site<br>par nos prstataires. ne Ratez pas ca.</p>
                        </div><!-- /.page-header -->
                        <div class="cards-simple-wrapper">
                            <div class="row">
                                {% for promotion in promotions |slice(0, 4)%}
                                    <div class="col-sm-6 col-md-3">
                                        {{ include('Partials/card-simple-bckground-img.html.twig' ,{ card_simple :{id:promotion.id,title:promotion.name, name:promotion.description,rout_serch:'promotion_show',rout_detail:'promotion_show',rout_bookmark:'promotion_show',rout_favorit:'promotion_show'} }) }}
                                    </div><!-- /.col-* -->
                                {% endfor %}
                            </div><!-- /.row -->
                        </div><!-- /.cards-simple-wrapper -->
                    </div>


                </div><!-- /.content -->
            </div><!-- /.container -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->
{% endblock %}