{% extends"frontEnd/frontend-layout.html.twig" %}
{% block main %}
    <div class="main">
        <div class="main-inner">
            <div class="content">
                <div class="mt-150">
                    <div class="hero-image">
                        <div class="hero-image-inner" style="background-image: url({{asset('img/tmp/slider-large-3.jpg')}}">
                            <div class="hero-image-content">
                                <div class="container">
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                         <h1>Salut {{app.token.user.username}}</h1>
                                         <p>Félicitation Vous etes Connecté maitenant<br> Vous pouvez modifier votre page personelle.</p>
                                        <a href="{{logout_path()}}" class="btn btn-primary btn-lg">Deconnection</a>
                                        <a href="{% if is_granted('ROLE_VISITOR') %}{{ path('profile_visitor') }}{% elseif is_granted('ROLE_PROVIDER') %}
                                            {{ path('profile_provider') }}{% endif %}" class="btn btn-secondary btn-lg">Votre page</a>
                                    {% else %}
                                        <h1>Salut Bienvenu</h1>
                                        <p>vous pouvez vous connecter ou inscrire<br> en tant que internaut ou prestataire ici en bas.</p>
                                         <a href="{{path('login') }}" class="btn btn-primary btn-lg">Connecter</a>
                                         <a href="{{path('registration',{'type':'visitor'}) }}" class="btn btn-primary btn-lg">Internaut</a>
                                         <a href="{{path('registration',{'type':'provider'}) }}" class="btn btn-primary btn-lg">Prestataire</a>

                                    {% endif %}

                                </div><!-- /.container -->
                            </div><!-- /.hero-image-content -->
                           <div class="hero-image-form-wrapper">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4 col-sm-offset-8 col-lg-4 col-lg-offset-7">
                                            {{ render(controller('AppBundle:FrontEnd/Search:searchProvider'))}}
                                        </div><!-- /.col-* -->
                                    </div><!-- /.row -->
                                </div><!-- /.container -->
                            </div><!-- /.hero-image-form-wrapper -->
                        </div><!-- /.hero-image-inner -->
                    </div><!-- /.hero-image -->
                </div>
                <div class="container">
                     <div class="page-header">
                        <h1>Nos Categories De Services</h1>
                        <p>Liste des different categories presente pae nos prestataires <br>Et c'est pas tout fait une recherche.</p>
                    </div><!-- /.page-header -->

                    <div class="cards-simple-wrapper">
                        <div class="row">
                            {% for category in service_categories|slice(2,8) %}
                            <div class="col-sm-6 col-md-3">
                                {% include 'Partials/card-simple-bckground-img.html.twig' with {card_simple:{id:category.id,image:category.images,
                                    rout_detail:'servicecategory_show',title:category.description,name:category.name,rout_bookmark:'servicecategory_show',
                                    rout_serch:'servicecategory_show',rout_favorit:'servicecategory_show'}} %}
                            </div><!-- /.col-* -->
                            {% endfor %}
                        </div><!-- /.row -->
                    </div><!-- /.cards-simple-wrapper -->
                    <div class="block background-white fullwidth mt80">
                        <div class="row">
                            <div class="col-sm-6">
                                    {% for course in courses|slice(0,3) %}
                                        {% include ':Partials:post.html.twig' with {post:{id:course.id,name:course.name,date:course.start,
                                            description:course.description,rout:'course_show',image:course.images,title:course.price}} %}
                                    {% endfor %}
                            </div><!-- /.col-* -->

                            <div class="col-sm-6">
                                    {% for promotion in promotions|slice(1,4) %}
                                        {% include ':Partials:event.html.twig' with {event:{id:promotion.id,name:promotion.name,rout:'promotion_show',
                                            description:promotion.description,date:promotion.start}} %}
                                    {% endfor %}
                            </div><!-- /.col-* -->
                        </div><!-- /.row -->
                    </div><!-- /.block -->
                    <div class="block background-black-light fullwidth">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="box">
                                    <div class="box-icon">
                                        <i class="fa fa-life-ring"></i>
                                    </div><!-- /.box-icon -->

                                    <div class="box-content">
                                        <h2>E-mail Support</h2>
                                        <p>Nous sommes toujour la pour repondre a tout vos question .</p>
                                        {#<a href="#">Read More <i class="fa fa-chevron-right"></i></a>#}
                                    </div><!-- /.box-content -->
                                </div>
                            </div><!-- /.col-sm-4 -->
                            <div class="col-sm-4">
                                <div class="box">
                                    <div class="box-icon">
                                        <i class="fa fa-flask"></i>
                                    </div><!-- /.box-icon -->
                                    <div class="box-content">
                                        <h2>Toujours Prouvé</h2>
                                        <p>Nos developpeurs sont la pour vous construir une belle avenir.</p>
                                        {#<a href="#">Read More <i class="fa fa-chevron-right"></i></a>#}
                                    </div><!-- /.box-content -->
                                </div>
                            </div><!-- /.col-sm-4 -->
                            <div class="col-sm-4">
                                <div class="box">
                                    <div class="box-icon">
                                        <i class="fa fa-thumbs-o-up"></i>
                                    </div><!-- /.box-icon -->
                                    <div class="box-content">
                                        <h2>La meilleur qualite</h2>
                                        <p>Nous avons une bonne qualite de travaille.</p>
                                        {#<a href="#">Read More <i class="fa fa-chevron-right"></i></a>#}
                                    </div><!-- /.box-content -->
                                </div>
                            </div><!-- /.col-sm-4 -->
                        </div><!-- /.row -->
                    </div><!-- /.block -->
                    {{ render(controller('AppBundle:FrontEnd/Provider:providerWrapperCard'))}}
                </div><!-- /.container -->

            </div><!-- /.content -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->

{% endblock %}