<div class="post">
    {% if post.image.first %}
    <div class="post-image">
        <img src="{{asset (post.image.first.webPath)}}" alt="{{post.image.first.image}}">
        <a class="read-more" href="{{path(post.rout,{'id':post.id})}}">Voir</a>
    </div><!-- /.post-image -->
    {% endif %}
    <div class="post-content">
        <h2><a href="{{path(post.rout,{'id':post.id})}}">{{post.name}}<a></h2>
                    <p>{{post.description}}...</p>
    </div><!-- /.post-content -->

    <div class="post-meta clearfix">
        <div class="post-meta-author">By <a href="blog-detail.html">Eric Yorick</a></div><!-- /.post-meta-author -->
        <div class="post-meta-date">08/24/2015</div><!-- /.post-meta-date -->
        <div class="post-meta-categories"><i class="fa fa-tags"></i> <a href="blog-detail.html">Restaurant</a></div><!-- /.post-meta-categories -->
        <div class="post-meta-comments"><i class="fa fa-comments"></i> <a href="{{path(post.rout,{'id':post.id})}}">{{post.name}}">{{post.name}}</a></div><!-- /.post-meta-comments -->
        <div class="post-meta-more"><a href="{{path(post.rout,{'id':post.id})}}">{{post.name}}">Voir Plus <i class="fa fa-chevron-right"></i></a></div><!-- /.post-meta-more -->
    </div><!-- /.post-meta -->
</div><!-- /.post -->