
<div class="cards-small">
    <div class="card-small">
        <div class="card-small-image">
            <a href="{{ path(cardSmal.rout,{'slug':cardSmal.slug}) }}">
                {% if cardSmal.image %}
                <img src="{{asset (cardSmal.image.webPath)}}" alt="{{cardSmal.image.image}}">
                {% endif %}
            </a>
        </div><!-- /.card-small-image -->

        <div class="card-small-content">
            <h3><a href="{{ path(cardSmal.rout,{'slug':cardSmal.slug}) }}">{{cardSmal.name}}</a></h3>
            <h4><a href="{{ path(cardSmal.rout,{'slug':cardSmal.slug}) }}">{{cardSmal.description}}</a></h4>

            <div class="card-small-price">{{cardSmal.price}} €</div>
        </div><!-- /.card-small-content -->
    </div><!-- /.card-small -->
    
</div>