
<div class="cards-small">
    <div class="card-small">
        <div class="card-small-image">
            <a href="{{ path(cardSmal.rout,{'id':cardSmal.id}) }}">
                <img src="{{asset (cardSmal.image)}}" alt="{{cardSmal.name}}">
            </a>
        </div><!-- /.card-small-image -->

        <div class="card-small-content">
            <h3><a href="{{ path(cardSmal.rout,{'id':cardSmal.id}) }}">{{cardSmal.name}}</a></h3>
            <h4><a href="{{ path(cardSmal.rout,{'id':cardSmal.id}) }}">{{cardSmal.description}}</a></h4>

            <div class="card-small-price">{{cardSmal.price}} €</div>
        </div><!-- /.card-small-content -->
    </div><!-- /.card-small -->
    
</div>