<div class="card {% if  card.tall %}card-tall{% endif %}"data-background-image="{% if card.image %}{{asset (card.image.webPath)}}{% else %} {% endif %}">
    <div class="card-label">
        <a href="{{path(card.rout_detail,{'slug':card.slug})}}">{{card.titre}}</a>
    </div><!-- /.card-label -->

    <div class="card-content">
        <h2><a href="{{path(card.rout_detail,{'slug':card.slug})}}">{{card.nom}}</a></h2>

        <div class="card-meta">
            <i class="fa fa-map-o"></i> {{card.description}}
        </div><!-- /.card-meta -->

        <div class="card-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div><!-- /.card-rating -->

        <div class="card-actions">
            <a href="{{path(card.rout_bookmark,{'slug':card.slug})}}" class="fa fa-bookmark-o"></a>
            <a href="{{path(card.rout_serch,{'slug':card.slug})}}" class="fa fa-search"></a>
            <a href="{{path(card.rout_favorit,{'slug':card.slug})}}"class="fa fa-heart-o"></a>
        </div>

    </div><!-- /.card-content -->
</div><!-- /.card -->