<div class="event">
    <div class="event-date">
        <span class="day">{{event.jour}}</span>
        <span class="month">{{event.mois}}</span>
    </div><!-- /.event-date -->

    <div class="event-content">
        <h2>{{event.nom}}</h2>
        <p>{{event.description}}</p>
        <div class="event-time"><i class="fa fa-clock-o"></i>{{event.heur}}</div><!-- /.event-time -->
    </div><!-- /.event-content -->
</div><!-- /.event -->