<div class="event">
    <a href="{{path(event.rout,{'id':event.id})}}">
        <div class="event-date">
            <span class="day">{{event.start.date|date("jS")}}</span>
            <span class="month">{{event.start.date|date("F")}}</span>
        </div><!-- /.event-date -->
    </a>
    <div class="event-content">
        <a href="{{path(event.rout,{'id':event.id})}}">
            <h2>{{event.nom}}</h2>
        </a>
        <p>{{event.description}}</p>
        <div class="event-time"><i class="fa fa-clock-o"></i>{{event.start.date|date("g:ia")}}</div><!-- /.event-time -->
    </div><!-- /.event-content -->
</div><!-- /.event -->

{#("F jS \\a\\t g:ia")#}