<div class="post">
    <div class="post-image">
        {% if post.image %}
        <img src="{{asset(post.image.webPath)}}" alt="{{ post.image.image }}">
        {% endif %}
        <a class="read-more" href="{{path(post.rout,{'slug':post.slug})}}">Voir</a>
    </div><!-- /.post-image -->

    <div class="post-content">
        <div class="post-label">{{post.title}}€</div><!-- /.post-label -->
        <div class="post-date">{{post.date|date('m/d/Y')}}</div><!-- /.post-date -->
        <h2>{{post.name}}</h2>
        <p>{{post.description}}</p>
    </div><!-- /.post-content -->
</div><!-- /.post -->