<div class="users">
    <table class="table">
        <tbody>
            {% if lentgh and start is null %}
                {% for user in users %}
                    <tr>
                        <td><a class="user" href="{{ path('admin_'~type~'_edit',{id:user.id}) }}"><img src="{{ asset(user.image[0].webPath)}}" alt="BienEtre"></a></td>
                        <td class="hidden-xs visible-sm visible-md visible-lg">
                            <h2><a href="{{ path('admin_'~type~'_edit',{id:user.id}) }}">{{user.username}}</a></h2>
                            <h3>Last login: {{user.lastLogin}}</h3>
                        </td>
                        <td class="right">
                            <a href="{{ path('admin_'~type~'_edit',{id:user.id}) }}" class="btn btn-xs btn-primary">Modifier</a>
                            {% if not user.locked %}
                                <a href="{{ path('admin_banir',{id:user.id}) }}" class="btn btn-xs btn-danger">Unban</a> 
                            {% else %}
                                <a href="{{ path('admin_banir',{id:user.id}) }}" class="btn btn-xs btn-danger">Ban</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for user in users|slice(start,lentgh) %}

                    <tr>
                        <td><a class="user" href="{{ path('admin_'~type~'_edit',{id:user.id}) }}"><img src="{{ asset(user.image[0].webPath)}}" alt="BienEtre"></a></td>
                        <td class="hidden-xs visible-sm visible-md visible-lg">
                            <h2><a href="{{ path('admin_'~type~'_edit',{id:user.id}) }}">{{user.username}}</a></h2>
                            <h3>Last login: {{user.lastLogin}}</h3>
                        </td>
                        <td class="right">
                            <a href="{{ path('admin_'~type~'_edit',{id:user.id}) }}" class="btn btn-xs btn-primary">Modifier</a>
                            {% if user.isLocked() %}
                                <a href="{{ path('admin_banir',{id:user.id}) }}" class="btn btn-xs btn-danger">UnBan</a> 
                            {% else %}
                                <a href="{{ path('admin_banir',{id:user.id}) }}" class="btn btn-xs btn-danger">Ban</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div><!-- /.users -->