<div class="background-white p20">
    {{form_start(form)}}
    <form  method="post" action="{{path('recherche_traitment')}}">
        <div class="form-group">
            <label for="">Prestataire</label>
            {{ form_widget(form.nom,{ 'attr':{"class":"form-control" ,"placeholder":"Nom Du Prestataire" } } ) }}
        </div><!-- /.form-group -->

        <div class="form-group">
            <label for="">Categorie</label>
            {{ form_widget(form.commune,{ 'attr':{"class":"form-control", "title":"Commune" } } ) }}
        </div><!-- /.form-group -->

        <div class="form-group">
            <label for="">Commune</label>
            {{ form_widget(form.categorie,{ 'attr':{"class":"form-control" ,"title":"Categorie" } } ) }}

        </div><!-- /.form-group -->

        <button class="btn btn-primary btn-block" type="submit">Rechercher</button>
    </form>
    {{form_end(form)}}
</div>

