{{ form_start(form, {'action': path('search_handeling'), 'method': 'POST'}) }}
    <div class="form-group">
        <label for="">Prestataire</label>
        {{ form_widget(form.name,{ 'attr':{"class":"form-control" ,"placeholder":"Nom Du Prestataire" } } ) }}
    </div><!-- /.form-group -->
    <div class="form-group">
        <label for="">Categorie</label>
        {{ form_widget(form.city,{ 'attr':{"class":"form-control", "title":"ville" } } ) }}
    </div><!-- /.form-group -->
    <div class="form-group">
        <label for="">Commune</label>
        {{ form_widget(form.category,{ 'attr':{"class":"form-control" ,"title":"Categorie" } } ) }}

    </div><!-- /.form-group -->

    <button class="btn btn-primary btn-block" type="submit">Rechercher</button>
{{form_end(form)}}

