<div class="sidebar">
    <div class="widget">
        <h2 class="widgettitle">Les Stages</h2>
        {%for course in courses |slice(0,5)%}
            {{include ('Partials/card-smal-widget.html.twig',{cardSmal:{id:course.id,rout:'course_show',name:course.name,description:course.description,price:course.price,image:'img/logo.png'}})}}
        {%endfor%}

    </div><!-- /.widget -->


    <div class="widget">
        <h2 class="widgettitle">Rechercher Un Prestataire</h2>
        <div class="background-white p20">
            {#{ render(controller('BienEFrontEnd/Prestataires:rechercheWidget')) }#}
        </div>

    </div><!-- /.widget -->


    <div class="widget">
        <h2 class="widgettitle">Categories</h2>

        <ul class="menu">

            {% for category in service_categories|slice(0,9)%}
                <li><a href="{{path('servicecategory_show',{'id':category.id})}}">{{category.name}}</a></li>
                {%endfor%}
        </ul><!-- /.menu -->
    </div><!-- /.widget -->

    <div class="widget">
        <h2 class="widgettitle">Prestataires</h2>

        <ul class="menu">

            {% for provider in providers|slice(0,9)%}
                <li><a href="{{path('provider_show',{'id':provider.id})}}">{{provider.username}}</a></li>
                {%endfor%}
        </ul><!-- /.menu -->
    </div><!-- /.wifget -->


</div><!-- /.sidebar -->