{% extends "frontEnd/frontend-layout.html.twig." %}
{% block titre %}{{ serviceCategory.name }}
{% endblock %}
{% block main %}
    <div class="main">
        <div class="main-inner">
            <div class="content">
                <div class="mt-80 mb80">
                    <div class="detail-banner" style="background-image:{% if serviceCategory.images.first %} url('{{asset (serviceCategory.images.first.webPath)}}');{% else %} {% endif %}">
                        <div class="container">
                            <div class="detail-banner-left">

                                <h2 class="detail-title">
                                    {{serviceCategory.name}}
                                </h2>

                            </div><!-- /.detail-banner-left -->
                        </div><!-- /.container -->
                    </div><!-- /.detail-banner -->

                </div>

                <div class="container">
                    <div class="row detail-content">
                        <div class="col-sm-7">
                            {{ include('Partials/video.html.twig') }}
                        </div><!-- /.col-sm-7 -->

                        <div class="col-sm-5">
                            <h2>A Propos de <br/><span class="text-secondary">{{serviceCategory.name}}</span></h2>
                            <div class="background-white p20">

                                <div class="detail-description">
                                    <p>{{serviceCategory.description}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">

                            <h2><span class="text-secondary">Les Prestataires</span></h2>

                            <div class="block background-white background-transparent-image fullwidth">

                                <div class="cards-simple-wrapper">
                                    <div class="row">
                                        {% for provider in serviceCategory.providers %}
                                            <div class="col-sm-6 col-md-3">
                                                {{ include('Partials/card-simple-bckground-img.html.twig' ,{ card_simple :{id:provider.id,image:provider.images,title:provider.name, name:provider.username,rout_detail:'provider_show',rout_favorit:'provider_show',rout_serch:'provider_show',rout_bookmark:'provider_show'} }) }}
                                            </div><!-- /.col-* -->
                                        {% endfor %}
                                    </div><!-- /.row -->
                                </div><!-- /.cards-simple-wrapper -->
                            </div>




                        </div>



                    </div><!-- /.row -->

                </div><!-- /.container -->

            </div><!-- /.content -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->
{% endblock %}
