{% extends 'base.html.twig' %}

{% block body %}
    <h1>Promotions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Pdf</th>
                <th>Start</th>
                <th>End</th>
                <th>Displayof</th>
                <th>Displayup</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for promotion in promotions %}
            <tr>
                <td><a href="{{ path('promotions_show', { 'id': promotion.id }) }}">{{ promotion.id }}</a></td>
                <td>{{ promotion.name }}</td>
                <td>{{ promotion.description }}</td>
                <td>{{ promotion.pdf }}</td>
                <td>{% if promotion.start %}{{ promotion.start|date('Y-m-d') }}{% endif %}</td>
                <td>{% if promotion.end %}{{ promotion.end|date('Y-m-d') }}{% endif %}</td>
                <td>{% if promotion.displayOf %}{{ promotion.displayOf|date('Y-m-d') }}{% endif %}</td>
                <td>{% if promotion.displayUp %}{{ promotion.displayUp|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('promotions_show', { 'id': promotion.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
