{% extends "frontEnd/frontEnd-layout.html.twig" %}
{% block title %}{{ course.name }}{% endblock %}
{% block header_top%}{% include ':Partials:header-top.html.twig' %}{% endblock %}
{% block main %}
    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="content">
                    <div class="page-title">
                        <h1>{{ course.name }}</h1>
                    </div><!-- /.page-title -->
                    <div class="posts post-detail">
                        <img src="{{ asset('img/tmp/blog-1.jpg') }}" alt="A Clockwork Origin"/>
                        <div class="post-meta clearfix">
                            <div class="post-meta-author">Par <a href="{{ path('provider_show',{'id':course.provider.id}) }}">{{ course.provider.name }}</a></div><!-- /.post-meta-author -->
                            <div class="post-meta-date">{{ course.start|date('d/m/Y') }}</div><!-- /.post-meta-date -->
                            <div class="post-meta-categories"><i class="fa fa-tags"></i> <a href="{{ path('servicecategory_show',{'id':course.serviceCategory.id}) }}">{{ course.serviceCategory.name }}</a></div><!-- /.post-meta-categories -->
                        </div><!-- /.post-meta -->

                        <div class="post-content">
                            <p class='drop-cap'>{{ course.description }}</p>

                        </div><!-- /.post-content -->
                    </div><!-- /.post -->
                </div><!-- /.content -->
            </div><!-- /.container -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->
{% endblock %}
