{% extends 'base.html.twig' %}

{% block body %}
    <h1>Visitors list</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Firstname</th>
                <th>Newsletter</th>
                <th>Id</th>
                <th>Streetnum</th>
                <th>Salt</th>
                <th>Street</th>
                <th>Registration</th>
                <th>Unsuccessfultestnum</th>
                <th>Roles</th>
                <th>Banned</th>
                <th>Enabled</th>
                <th>Confirmationtoken</th>
                <th>Lastlogin</th>
                <th>Passwordrequestedat</th>
                <th>Email</th>
                <th>Username</th>
                <th>Password</th>
                <th>Isactive</th>
                <th>Registrationconfig</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for visitor in visitors %}
            <tr>
                <td><a href="{{ path('visitor_show', { 'id': visitor.id }) }}">{{ visitor.name }}</a></td>
                <td>{{ visitor.firstName }}</td>
                <td>{% if visitor.newsletter %}Yes{% else %}No{% endif %}</td>
                <td>{{ visitor.id }}</td>
                <td>{{ visitor.streetNum }}</td>
                <td>{{ visitor.salt }}</td>
                <td>{{ visitor.street }}</td>
                <td>{% if visitor.registration %}{{ visitor.registration|date('Y-m-d') }}{% endif %}</td>
                <td>{{ visitor.unsuccessfulTestNum }}</td>
                <td>{% if visitor.roles %}{{ visitor.roles|join(', ') }}{% endif %}</td>
                <td>{% if visitor.banned %}Yes{% else %}No{% endif %}</td>
                <td>{% if visitor.enabled %}Yes{% else %}No{% endif %}</td>
                <td>{{ visitor.confirmationToken }}</td>
                <td>{% if visitor.lastLogin %}{{ visitor.lastLogin|date('Y-m-d') }}{% endif %}</td>
                <td>{% if visitor.passwordRequestedAt %}{{ visitor.passwordRequestedAt|date('Y-m-d') }}{% endif %}</td>
                <td>{{ visitor.email }}</td>
                <td>{{ visitor.username }}</td>
                <td>{{ visitor.password }}</td>
                <td>{% if visitor.isActive %}Yes{% else %}No{% endif %}</td>
                <td>{% if visitor.registrationConfig %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('visitor_show', { 'id': visitor.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('visitor_edit', { 'id': visitor.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('visitor_new') }}">Create a new visitor</a>
        </li>
    </ul>
{% endblock %}
