{% extends 'frontEnd/frontend-layout.html.twig' %}
{% block main %}
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <div class="page-title">
                            <h1>Register</h1>
                        </div><!-- /.page-title -->
                        {{ form_start(form) }}
                            <div class="form-group">
                                <label for="email">E-mail</label>
                                {{ form_row(form.email) }}
                            </div><!-- /.form-group -->
                            <div class="form-group">
                                <label for="login-form-last-name">Nom D'utilisateur</label>
                                {{ form_row(form.username) }}
                            </div><!-- /.form-group -->
                            <div class="form-group">
                                <label for="password">Mot de pass</label>
                                {{ form_row(form.plainPassword.first) }}
                            </div><!-- /.form-group -->
                            <div class="form-group">
                                <label for="login-form-password-retype">Confirmation</label>
                                { form_row(form.plainPassword.second) }}
                            </div><!-- /.form-group -->
                            <button type="submit" class="btn btn-primary pull-right">Register</button>
                        {{ form_end(form) }}
                    </div><!-- /.col-sm-4 -->
                </div><!-- /.row -->
            </div><!-- /.content -->
        </div><!-- /.container -->
    </div><!-- /.main-inner -->
</div><!-- /.main -->
{% endblock %}