  <div class="background-white p20">
            <div class="detail-overview-hearts">
                <i class="fa fa-heart"></i> <strong>213 </strong>people love it
            </div>
            <div class="detail-overview-rating">
                <i class="fa fa-star"></i> <strong>4.3 / 5 </strong>from <a href="#reviews">316 reviews</a>
            </div>

            <div class="detail-actions row">
                
                <div class="col-sm-6">
                    <div class="btn btn-secondary btn-share"><i class="fa fa-share-square-o"></i> Share
                        <div class="share-wrapper">
                            <ul class="share">
                                <li><i class="fa fa-facebook"></i> provider.facebook</li>
                                <li><i class="fa fa-twitter"></i> provider.twitter</li>
                                <li><i class="fa fa-google-plus"></i>provider.gmail</li>
                                <li><i class="fa fa-pinterest"></i> provider.advisor</li>
                                <li><i class="fa fa-youtube"></i>providerf.youtube</li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /.col-sm-4 -->
                <div class="col-sm-6">
                    <div class="btn btn-secondary btn-claim"><i class="fa fa-hand-peace-o"></i> Claim</div>
                </div><!-- /.col-sm-4 -->
            </div><!-- /.detail-actions -->
        </div>

        <h2><span class="text-secondary">{{provider.username}}</span></h2>
        <div class="background-white p20">
            <div class="detail-vcard">
                <div class="detail-logo">
                    <img src="{{asset(provider.avatar.webPath)}}">
                </div><!-- /.detail-logo -->

                <div class="detail-contact">
                    <div class="detail-contact-email">
                        <i class="fa fa-envelope-o"></i> <a href="mailto:#">{{provider.email}}</a>
                    </div>
                    <div class="detail-contact-phone">
                        <i class="fa fa-mobile-phone"></i> <a href="tel:#">{{provider.telNum}}</a>
                    </div>
                    <div class="detail-contact-website">
                        <i class="fa fa-globe"></i> <a href="#">{{provider.internetSite}}</a>
                    </div>
                    <div class="detail-contact-address">
                        <i class="fa fa-map-o"></i>
                        {{provider.street}}{{provider.streetNum}}<br>
                    </div>
                </div><!-- /.detail-contact -->
            </div><!-- /.detail-vcard -->
            <div class="detail-description">{{ provider.description }}</div>

            <div class="detail-follow">
                <h5>Follow Us:</h5>
                <div class="follow-wrapper">
                    <a class="follow-btn facebook" href="#">{{ provider.facebook }}<i class="fa fa-facebook"></i></a>
                    <a class="follow-btn youtube" href="#">{{ provider.youtube }}<i class="fa fa-youtube"></i></a>
                    <a class="follow-btn twitter" href="#">{{ provider.twitter }}<i class="fa fa-twitter"></i></a>
                    <a class="follow-btn tripadvisor" href="#">{{ provider.advisor }}<i class="fa fa-tripadvisor"></i></a>
                    <a class="follow-btn google-plus" href="#">{{ provider.gmail }}<i class="fa fa-google-plus"></i></a>
                </div><!-- /.follow-wrapper -->
            </div><!-- /.detail-follow -->


        </div>
  
 