{% extends "frontEnd/frontend-layout.html.twig" %}
{% block header_top %}{% include ':Partials:header-top.html.twig' %}{% endblock %}
{% block title %}{{ provider.username }}
{% endblock %}
{% block main %}

    <div class="main">
        <div class="main-inner">
            <div class="content">
                <div></div>
                <div class="container">
                    <div class="row detail-content">
                        <div class="col-sm-7">
                            {% include 'frontEnd/providers/gallery.html.twig' with {img:provider.images} %}

                            <h2>Enquire Form</h2>

                            <div class="detail-enquire-form background-white p20">
                                <form method="post" action="?">
                                    <div class="form-group">
                                        <label for="">Name</label>
                                        <input type="text" class="form-control" name="" id="">
                                    </div><!-- /.form-group -->

                                    <div class="form-group">
                                        <label for="">Email <span class="required">*</span></label>
                                        <input type="email" class="form-control" name="" id="" required>
                                    </div><!-- /.form-group -->

                                    <div class="form-group">
                                        <label for="">Message <span class="required">*</span></label>
                                        <textarea class="form-control" name="" id="" rows="5" required></textarea>
                                    </div><!-- /.form-group -->

                                    <p>Required fields are marked <span class="required">*</span></p>

                                    <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-paper-plane"></i>Send Message</button>
                                </form>
                            </div><!-- /.detail-enquire-form -->


                            <div class="fullwidth mt80">
                                <h2 class="text-secondary">Promotions</h2>
                                <div class="row">
                                    <div class="col-sm-6">

                                        {% for promotion in provider.promotions|slice(0,4) %}

                                            {% include 'Partials/card-simple-bckground-img.html.twig' with {card_simple:{id:promotion.id,image:promotion.images,
                                                rout_detail:'promotion_show',title:promotion.description,name:promotion.name,rout_bookmark:'promotion_show',
                                                rout_serch:'promotion_show',rout_favorit:'promotion_show'}} %}

                                        {% endfor %}
                                    </div><!-- /.col-* -->
                                </div><!-- /.row -->
                            </div><!-- /.block -->

                            {{ include('Partials/comments-affichage.html.twig',{comments:provider.comments}) }}



                        </div><!-- /.col-sm-7 -->

                        <div class="col-sm-5">

                            {{ include('frontEnd/providers/detail-side-right.html.twig',{provider:provider}) }}
                            {{ include('Partials/google-map.html.twig') }}
                            <h2><span class="text-secondary">Les Stages</span></h2>

                            <div class='p20 background-'>

                                {% for course in provider.courses %}
                                    <div class='row'>
                                        {{ include('Partials/card-smal-widget.html.twig', { cardSmal :{id:course.id,rout:'course_show',image:course.images, name:course.name, description:course.description, price:course.price} }) }}
                                    </div>
                                {% endfor %}

                            </div>


                            <div class="widget">
                                <h2 class="widgettitle">Categories</h2>

                                <ul class="menu">

                                    {% for category in provider.serviceCategories|slice(0,9)%}
                                        <li><a href="{{path('servicecategory_show',{'id':category.id})}}">{{category.name}}</a></li>
                                    {%endfor%}
                                </ul><!-- /.menu -->
                            </div><!-- /.widget -->






                        </div><!-- /.col-sm-5 -->

                        <div class="col-sm-12">
                            {{ include('Partials/commentaire-form.html.twig') }}
                        </div><!-- /.col-* -->
                    </div><!-- /.row -->

                </div><!-- /.container -->

            </div><!-- /.content -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->

{% endblock %}