{% extends "frontEnd/listing-layout.html.twig" %}
{% block titre %}{{ provider.name }}
{% endblock %}
{% block main %}

    <div class="main">
        <div class="main-inner">
            <div class="content">
                <div></div>


                <div class="container">
                    <div class="row detail-content">
                        <div class="col-sm-7">



                            {#{ include('Partials/provider-gallery.html.twig',{img:prestataire.image}) }#}



                            {{ include('Partials/video.html.twig') }}


                            <div class="fullwidth mt80">
                                <div class="row">
                                    <div class="col-sm-6">
                                        {% for category in provider.serviceCategory %}
                                            <div class="posts">
                                                {{ include('Partials/post.html.twig' ,{ post :{id:category.id, image:'/Resources/public/img/logo.png', titre:category.nom, nom:category.nom, description:category.description, date:'2/15/2141'} }) }}
                                            </div><!-- /.posts -->
                                        {% endfor %}
                                    </div><!-- /.col-* -->


                                </div><!-- /.row -->
                            </div><!-- /.block -->

                            {{ include('Partials/comments-affichage.html.twig',{comments:provider.comment}) }}



                        </div><!-- /.col-sm-7 -->

                        <div class="col-sm-5">

                            {{ include('Partials/provider-detail-side-right.html.twig',{provider:provider}) }}
                            <h2><span class="text-secondary">Les Stages</span></h2>

                            <div class='p20 background-'>

                                {% for course in provider.course%}
                                    <div class='row'>
                                        {{ include('Partials/card-smal-widget.html.twig', { card_smal :{image:course.image, name:scourse.nom, description:course.description, price:course.price} }) }}
                                    </div>
                                {% endfor %}

                            </div>
                            {{ include('Partials/google-map.html.twig') }}

                        </div><!-- /.col-sm-5 -->
                        <h2><span class="text-secondary">Les Promotion</span></h2>

                        <div class="block background-white background-transparent-image fullwidth">

                            <div class="cards-simple-wrapper">
                                <div class="row">
                                    {% for promotion in provider.promotion %}
                                        <div class="col-sm-6 col-md-3">
                                            {{ include('Partials/card-simple-bckground-img.html.twig' ,{ card_simple :{id:promotion.id,title:promotion.name, name:promotion.description,rout_serch:'promotions_show',rout_detail:'promotions_show',rout_bookmark:'promotions_show',rout_favorit:'promotions_show'} }) }}
                                        </div><!-- /.col-* -->
                                    {% endfor %}
                                </div><!-- /.row -->
                            </div><!-- /.cards-simple-wrapper -->
                        </div>

                        <div class="col-sm-12">
                            {{ include('Partials/commentaire-form.html.twig') }}
                        </div><!-- /.col-* -->
                    </div><!-- /.row -->

                </div><!-- /.container -->

            </div><!-- /.content -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->

{% endblock %}